.navbar-brand {
  padding-left: 1rem;
}

.text-center {
  padding: 1rem;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  padding-top: 10px; 
  color: white;
}
